/node_modules
/src
**/tests
coverage

tsconfig.json
logs
*.log
npm-debug.log*

.vscode
.github
.eslintrc.js
.eslintignore
jest.config.js
commitlint.config.js
.prettierignore
.prettierrc
tsconfig.json
tsconfig.eslint.json
